nav {
    display: flex;
    position: absolute;
    width: 100%;
    height: 115px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.45);
    justify-content: space-between;
}

footer {
    position: absolute;
    width: 100%;
    height: 115px;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0 auto;
    top: 2265px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
}

.container{
    background: #FFFFFF;
}

.menu-buttons {
    width: auto;
    margin-right: 50px;
}

.logo {
    float: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-left: 50px;
    top: 0;
    bottom: 0;
    text-decoration: none;
    color: #FFFFFF;
}

ul#menus {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: auto;
}

ul#menus li {
    display: inline-flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 30px;
    justify-content: flex-end;
    color: #FFFFFF;
}

.icons-list {
    display: flex;
    justify-content: flex-start;
    float: left;
    width: auto;
    margin-left: 50px;
}

ul#faicons {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: auto;
}

ul#faicons li {
    display: inline-flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 30px;
    justify-content: flex-end;
    color: #FFFFFF;
}

.cpy {
    float: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-right: 50px;
    top: 0;
    bottom: 0;
    text-decoration: none;
    color: #FFFFFF;
    float: right;
}

.head-container{
    display: flex;
    position: absolute;
    width: 100%;
    height: 868px;
    left: 0px;
    top: 0px;
    background: url(img/jeshoots-com-pUAM5hPaCRI-unsplash\ 1.png) no-repeat center center fixed;
    height: calc(100vh -115);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    position: absolute;
    width: 100%;
    height: 874px;
    left: 0px;
    top: -6px;
    background: rgba(0, 0, 0, 0.54);
}
